@import 'global';

.contact-us {
  height: 42rem;
  background-color: var(--black);
  display: flex;
  color: var(--white);
  padding: 5rem;
}

.contact-us h4 {
  font-size: 3.8rem;
  font-family: 'Garamond';
  padding-bottom: 3rem;
  font-weight: 400;
}

.contact-us p {
  font-size: 2.2rem;
  font-weight: 300;
}

.form-container {
  width: 60%;
  display: flex;
}

.contact-container {
  width: 30%;
}

.contact-display div {
  display: flex;
  margin-bottom: 2rem;
}

.contact-display div img {
  width: 2.4rem;
}

.contact-display div p {
  margin-left: 1rem;
}

.horarios-container {
  width: 20%;
}

.horarios-container div p{
  padding-bottom: 1rem;
}

.rights {
  display: flex;
  background-color: var(--cyan);
  justify-content: center;
}

.rights p {
  font-size: 2.2rem;
  padding: 4rem;
  color: var(--white);
}
