* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --cyan: #75DED7;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-THIN.TTF');
  font-weight: 100;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-THINITALIC.TTF');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-EXTRALIGHT.TTF');
  font-weight: 200;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-EXTRALIGHTITALIC.TTF');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-LIGHT.TTF');
  font-weight: 300;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-LIGHTITALIC.TTF');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-REGULAR.TTF');
  font-weight: 400;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-MEDIUM.TTF');
  font-weight: 500;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-MEDIUMITALIC.TTF');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-SEMIBOLD.TTF');
  font-weight: 600;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-SEMIBOLDITALIC.TTF');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-BOLD.TTF');
  font-weight: 700;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-ITALIC.TTF');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-EXTRABOLD.TTF');
  font-weight: 800;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-EXTRABOLDITALIC.TTF');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-BLACK.TTF');
  font-weight: 900;
}
@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/BARLOW-BLACKITALIC.TTF');
  font-weight: 900;
  font-style: italic;
}
